<header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
        <%- include("./../components/header.html",{
            title : "Plance Market",
            description : "Blockchain travel",
            banner : "./banner.html",
            html : ''
        }) %>
</header>
<main class="nk-pages">
    


    <section class="section bg-transparent over-down over-up-xl-s1 pdt-0">
                <div class="ui-mask-right ui-mask-s8"></div>
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-features-s3">
                        <h1 class="title"><%=item.name%></h1>
                        <div class="row justify-content-center">
                           
                           
                            <div class="col-lg-8 col-md-8 mb-4">
                                <div class="card card-lg-y animated pd-0 mb-3" data-animate="fadeInUp" data-delay="1.4">
                                    <img class="card-img-top" src="<%=item.banner%>" style="max-height: 420px;">
                                    <div class="card-body">

                                        <% for(var i=0; i < item.star; i++) {%>
                                            <i class="fa fa-star icon-star" aria-hidden="true"></i>
                                        <% } %>
                                        <ul>
                                            <li class="d-flex justify-content-between"><div>Night : <%=item.night%> </div><div> Bed : <%=item.bed%></div></li>
                                            <li class="d-flex justify-content-between"><div>Exit Time : <%=item.exittime%> Year</div></li>
                                           
                                        </ul>
                                        <hr>
                                        <div>
                                            
                                            <%-item.description%> 
                                        </div>
                                    </div>

                                </div>
                                <div class="card card-lg-y animated pd-0" data-animate="fadeInUp" data-delay="1.4">
                                    <div class="card-body">
                                        <h4>Gobal Infomation</h4>
                                        <p>UBGToken cooperates with Vacation Paradise (a member of UBG Ecosystem) to launch NFTs for the resort tourism industry.</p>
                                        <p>Vacation Paradise is the owner of two 5-star resorts in Vietnam, namely PARAGRUS Cam Ranh, Nha Trang and Boutique Hotel Phu Quoc, Kien Giang.</p>
                                        <p>Vacation Paradise is also a member of the RCI global hotel linkage system, so in addition to the two resorts above, you can choose other hotels associated with RCI around the world.</p>
                                        <p>When you own a UBG NFTs, you own a resort package for a certain period of time, in addition, you give the right to Buy, Sell, Give, Inherit or Staking back to us to receive interest in $UBG daily.</p>
                                        <p>Some regulations when you use UBG NFTs are as follows: You must book before 30 days, You cannot book on Noel, New Year, Tet holidays according to Vietnamese regulations, Within 1 year if you do not book all 7 days of travel then those 7 days will expire.</p>
                                    </div>
                                </div>
                            </div><!-- .col -->

                            <div class="col-lg-4 col-md-4 mb-4">
                                <div class="card card-lg-y animated pd-0 mb-4" data-animate="fadeInUp" data-delay="1.4">
                                    <div class="card-body">
                                        <h3>Your Balance </h3>
                                        <div><span class="balance">0.00</span> <b><%=token.symbol%></b></div>
                                        <hr>
                                        <button class="btn btn-sm btn-info" id="marketplacebuynow" data-id="<%=item.id%>">Buy UGB</button>
                                    </div>
                                </div>
                                <div class="card card-lg-y animated pd-0" data-animate="fadeInUp" data-delay="1.4">
                                    <div class="card-body">
                                        <h3><%=item.price%> <b><%=token.symbol%></b></h3>
                                        <button class="btn btn-sm btn-info" id="marketplacebuynow" data-id="<%=item.id%>">Buy Now</button>
                                    </div>
                                </div>
                            </div>
                             
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
</main>
<footer class="nk-footer bg-theme-grad ov-h">
          <%- include("./../components/footer.html") %>
</footer>