<header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
        <%- include("./../components/header.html",{
            title : "Booking NFT's",
            description : "Blockchain travel"
        }) %>
</header>
<main class="nk-pages">
    


    <section class="section bg-transparent over-down over-up-xl-s1 pdt-0">
                <div class="ui-mask-right ui-mask-s8"></div>
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-features-s3">
                        <h1 class="title">NFT's Booking</h1>
                        <form>
                          <div class="form-group">
                            <label for="exampleInputEmail1">First Name</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>

                          <div class="form-group">
                            <label for="exampleInputEmail1">Last Name</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>


                          <div class="form-group">
                            <label for="exampleInputEmail1">Full Name</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>

                          <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>

                          <div class="form-group">
                            <label for="exampleInputEmail1">Address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>


                          <div class="form-group">
                            <label for="exampleInputEmail1">Passort</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>


                          <div class="form-group">
                            <label for="exampleInputEmail1">Start Date</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>


                          <div class="form-group">
                            <label for="exampleInputEmail1">End Date</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>

                          
                          <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
</main>
<footer class="nk-footer bg-theme-grad ov-h">
          <%- include("./../components/footer.html") %>
</footer>