<header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
        <%- include("./../components/header.html",{
            title : "Plance Market",
            description : "Blockchain travel",
            banner : "./banner.html",
            html : ''
        }) %>
</header> 
<main class="nk-pages"> 
         
    <section class="section pdt-0">
                <div class="ui-mask-right ui-mask-s8"></div>
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block">
                        <h1 class="title">My NFT's</h1>
                        <div class="row justify-content-center" id="myNFT">
                           
                            <% for(var i=1; i <= 10; i++) {%>
                            <div class="col-lg-4 col-md-10 mb-4 item">
                                <div class="card card-lg-y animated pd-0" data-animate="fadeInUp" data-delay="1.4">
                                    <img class="card-img-top" src="{banner}" style="max-height: 180px;">
                                    <div class="card-body">
                                        <h4 class="title title-md title-dark mb-4">{name}</h4>
                                        <ul>
                                            <li class="d-flex justify-content-between"><div>Start : {star} </div><div> Bed : {bed}</div></li>
                                            <li class="d-flex justify-content-between"><div>Night : {night}</div><div>Lever : </div></li>
                                            <li>Exit Time : {exittime}</li>
                                        </ul>
                                        <div> 
                                            
                                            <a class="btn btn-sm btn-info" href="/mynft/sell-{item_id}.html">Sell Now</a>
                                            <a class="btn btn-sm btn-primary" href="/mynft/booking-{item_id}.html">Booking</a>
                                        </div>
                                    </div>
 
                                </div>
                            </div><!-- .col -->
                             <% }; %>
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
<script src="/assets/js/nfttravel.js?ver=1930"></script> 
<script type="text/javascript">
    $(document).ready(async () => {
        var item = $(".item:first").html();
        

        await SmartApp.Travel.myNFT(item,'','#myNFT');
    })
</script>
</main>
<footer class="nk-footer bg-theme-grad ov-h">
          <%- include("./../components/footer.html") %>
</footer>