 <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
        <%- include("./components/header.html") %>
</header>
    
<main class="nk-pages">

    <section class="section bg-transparent over-up over-up-xl-s2 pdt-0">
        <div class="ui-mask-right ui-mask-s8"></div>
        <div class="container">
            <!-- Block @s -->
            <div class="nk-block nk-block-features-s3">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.4">
                            <div class="feature-icon feature-icon-bg-grd feature-icon-bg-grd-s1">
                                <em class="icon ikon ikon-currency icon-grd icon-lg-s2"></em>
                            </div>
                            <div class="feature-text">
                                <h4 class="title title-md title-dark mb-4">Legally Compliant</h4>
                                <p>ICO Crypto is fully licensed in world Lorem ipsum dolor sit amet, conse is ctetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.5">
                            <div class="feature-icon feature-icon-bg-grd feature-icon-bg-grd-s2">
                                <em class="icon ikon ikon-lock icon-grd icon-lg-s2"></em>
                            </div>
                            <div class="feature-text">
                                <h4 class="title title-md title-dark mb-4">Industry Leading Security</h4>
                                <p>ICO Crypto is fully licensed in world Lorem ipsum dolor sit amet, conse is ctetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4 col-md-10">
                        <div class="feature feature-center card card-lg-y animated" data-animate="fadeInUp" data-delay="1.6">
                            <div class="feature-icon feature-icon-bg-grd feature-icon-bg-grd-s3">
                                <em class="icon ikon ikon-question icon-grd icon-lg-s2"></em>
                            </div>
                            <div class="feature-text">
                                <h4 class="title title-md title-dark mb-4">Word Class Support</h4>
                                <p>ICO Crypto is fully licensed in world Lorem ipsum dolor sit amet, conse is ctetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>
          

            
</main>
<footer class="nk-footer bg-theme-grad ov-h">
        <%- include("./components/footer.html") %>
</footer>