<h4>Marketplace NFT's Manager</h4>
<table class="table table-bordered table-hover table-inverse">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      
      <th colspan="6">Options</th>
      
      <th></th> 
    </tr>  
    <tr>  
      <th colspan="3"></th> 
       
      <th>Star</th> 
      <th>Night</th>
      <th>Bed</th>
      <th>Exit</th>
      <th>Prikey</th>
      <th></th>
    </tr> 

  </thead>
  <tbody>
  	<% marketplace.forEach(function(data) { %>
    <tr>  
      <th scope="row"><%=data.item_id%></th>
      <td><%=data.name%></td>
      <td><%=data.price%></td>
      
      <td><%=data.star%></td>
      <td><%=data.night%></td>
      <td><%=data.bed%></td>
      <td><%=data.exitmoiky%> (Day)</td>
      
      <td><%=data.prikeys%></td>
      <td class="text-right">
        <button type="button" class="btn btn-sm btn-primary synccontent" data-id="<%=data.id%>">Sync Content</button> 
        <button type="button" class="btn btn-sm btn-primary sync" data-id="<%=data.id%>">Sync Info</button>
      	<a class="btn btn-sm btn-primary" href="/marketplace/item-delete-<%=data.id%>.html">Delete</a>
      	<a class="btn btn-sm btn-primary" href="/marketplace/item-edit-<%=data.id%>.html">Edit</a>
      </td>
    </tr>
    <% }); %>
    
  </tbody>
</table>

<script src="/assets/js/marketplace.js?ver=1930"></script>
<script type="text/javascript">
  $(".sync").on("click", function(){
      var id = $(this).attr("data-id");
      $.get("/marketplace/sync-"+id+".html", function(data){
        SmartApp.Marketplace.init();
        SmartApp.Marketplace.sync(data);
      });
  });

  $(".synccontent").on("click", function(){
      var id = $(this).attr("data-id");
      $.get("/marketplace/sync-"+id+".html", function(data){
        SmartApp.Marketplace.init();
        SmartApp.Marketplace.syncContent(data);
      });
  });
  

</script>