<%- include('./partials/header.html',{title : "Login"}); %>

  <style type="text/css">
    .center-screen {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
    }
  </style>
<div class="center-screen">
  <div style="width:450px; text-align: left;" class="card">
    <div class="card-body">
      <h4>Admin Login System</h4>
      <hr>
      <form action="auth" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" required name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">Enter username login.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" required name="password"  class="form-control" id="exampleInputPassword1">
        </div>
        
        <button type="submit" class="btn btn-primary">Login...</button>
      </form>
  </div>
  </div>
</div>


<%- include('./partials/footer.html'); %>