<%- include('./partials/header.html',{title : "NFTs Market Manager"}); %>
<%- include('./partials/nav.html'); %>
  <h4>NFTs Market</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Price</th>
        <th scope="col">Images</th>
        <th scope="col">Options</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td class="text-right"><a href="" class="btn btn-sm btn-primary">Edit</a> <a href="" class="btn btn-sm btn-primary">Sync</a> <a href="" class="btn btn-sm btn-primary">Remove</a></td>
      </tr>
      
    </tbody>
  </table>

<%- include('./partials/footer.html'); %>