<!-- Banner @s -->

<div class="header-banner bg-light-alt has-ovm has-mask" style="margin-bottom: 30px;">
    <div class="nk-banner">
        
             <div class="banner-single pb-0 " >

                <div class="gfx-slider  round" style="padding: 0; left:0; top:0; width:100%;" data-slide-speed="2500" data-slide-show="true" data-anim-loop="true" data-anim-speed="1500">
                    <div class=" position-relative animated fadeInUp" data-animate="fadeInUp" data-delay="1.35" style="visibility: visible; animation-delay: 1.35s;"> 
                        <ul class="slides">
                            <% ads.forEach((item,index) => {%>
                            <li class="banner-wrap ov-v" style="width: 100%; float: left; height: 100%; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;background-image: url(<%=item.banner%>); background-size: cover; background-repeat: no-repeat;" data-thumb-alt="">
                               
                                    
                                        <div class="container" style="padding-top:70px; padding-bottom: 70px;">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-lg-6">
                                                    <div class="banner-caption wide-auto text-center">
                                                        <%-item.description%>
                                                        
                                                        <div class="cpn-btns">
                                                            <ul class="btn-grp">
                                                                <li><a href="<%=item.link%>" class="btn btn-md btn-grad btn-round">Sign up to join</a></li>
                                                                <li><a href="#" class="btn btn-md btn-grad btn-round">Token Distribution</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="cpn-social">
                                                            <ul class="social">
                                                                <li><a href="#"><em class="social-icon fab fa-facebook-f"></em></a></li>
                                                                <li><a href="#"><em class="social-icon fab fa-twitter"></em></a></li>
                                                                <li><a href="#"><em class="social-icon fab fa-youtube"></em></a></li>
                                                                <li><a href="#"><em class="social-icon fab fa-github"></em></a></li>
                                                                <li><a href="#"><em class="social-icon fab fa-bitcoin"></em></a></li>
                                                                <li><a href="#"><em class="social-icon fab fa-medium-m"></em></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div><!-- .col -->
                                            </div><!-- .row -->
                                        </div>
                                    

                            </li>

                            <% }); %>
                            

                            

                        </ul>
                </div>
            </div>
            
        </div>
    </div><!-- .nk-banner -->
    <div class="nk-ovm mask-c-light mask-contain-bottom"></div>
</div>
