  <!-- Header @s -->
      <div class="header-main">
        <div class="header-container container">
          <div class="header-wrap">
            <!-- Logo @s -->
            <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
              <a href="./" class="logo-link">
                <img class="logo-dark" src="assets/images/logo-full-white.png" srcset="assets/images/logo-full-white.png 2x" alt="logo">
                <img class="logo-light" src="assets/images/logo-full-white.png" srcset="assets/images/logo-full-white.png 2x" alt="logo">
              </a>
            </div>

            <!-- Menu Toogle @s -->
            <div class="header-nav-toggle">
              <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                                <div class="toggle-line">
                                    <span></span>
                                </div>
                            </a>
            </div>

            <!-- Menu @s -->
            <div class="header-navbar animated" data-animate="fadeInDown" data-delay=".75">
               
                <%- include("./nav.html") %>
            </div><!-- .header-navbar @e -->
          </div>                                                
        </div>
      </div><!-- .header-main @e -->

<!-- Banner @s -->
<div class="header-banner bg-theme-grad">
    <div class="nk-banner">
        <div class="banner banner-fs banner-pd-lg">
            <div class="banner-wrap">
                        <div class="container">
                            <div class="row gutter-vr-30px align-items-center justify-content-lg-between justify-content-center">
                                <div class="col-lg-5 col-sm-9 order-lg-last">
                                    <div class="banner-gfx-re-s3 my-0 animated" data-animate="fadeInUp" data-delay="1">
                                        <img src="assets/images/header/gfx-c.png" alt="header">
                                    </div>
                                </div><!-- .col -->
                                <div class="col-lg-7 col-xl-6 col-sm-10 text-center text-lg-left">
                                    <div class="banner-caption cpn tc-light">
                                        <div class="cpn-head"> 
                                            <h1 class="title title-md animated" data-animate="fadeInUp" data-delay="1.1"><%=title%><br class="d-none d-md-block"><%= description%></h1>
                                        </div>
                                        <div class="cpn-text cpn-text-light">
                                            <p class="lead animated" data-animate="fadeInUp" data-delay="1.2">A clever solution on how to combine user-optimized interface and high functionality on one platform.</p>
                                        </div>
                                        <div class="cpn-action mt-0">
                                            <div class="cpn-btns pt-4 animated" data-animate="fadeInUp" data-delay="1.3">
                                                <ul class="btn-grp">
                                                    <li><a href="#" class="btn btn-primary btn-lg">Join Now</a></li>
                                                    <li><a href="#" class="btn btn-info btn-lg">Booking</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div>
                    </div>
        </div>
    </div><!-- .nk-banner -->
    <div class="nk-ovm mask-f mask-contain-bottom shape-a2"></div>
        <!-- Place Particle Js -->
    <div id="particles-bg" class="particles-container particles-bg" style="background-image:url(https://focusasiatravel.com/wp-content/uploads/2019/04/a-scenery-of-phu-quoc-island.png); background-size: cover; background-repeat: no-repeat;"></div>
</div>