  <!-- Header @s -->
      <div class="header-main">
        <div class="header-container container">
          <div class="header-wrap">
            <!-- Logo @s -->
            <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
              <a href="./" class="logo-link">
                <img class="logo-dark" src="/assets/images/logo.png" srcset="/assets/images/logo.png 2x" alt="logo">
                <img class="logo-light" src="/assets/images/logo-full-white.png" srcset="/assets/images/logo-full-white.png 2x" alt="logo">
              </a>
            </div>

            <!-- Menu Toogle @s -->
            <div class="header-nav-toggle">
              <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                                <div class="toggle-line">
                                    <span></span>
                                </div>
                            </a>
            </div>

            <!-- Menu @s -->
            <div class="header-navbar animated" data-animate="fadeInDown" data-delay=".75">
               
                <%- include("./nav.html") %>
            </div><!-- .header-navbar @e -->
          </div>                                                
        </div>
      </div><!-- .header-main @e -->


<!-- Banner @s -->

<div class="header-banner bg-light-alt has-ovm has-mask" style="margin-bottom: 30px;">
    <div class="nk-banner">
        
             <div class="banner-single pb-0 " >

                <div class="gfx-slider  round" style="padding: 0; left:0; top:0; width:100%;" data-slide-speed="2500" data-slide-show="true" data-anim-loop="true" data-anim-speed="1500">
                    <div class=" position-relative animated fadeInUp" data-animate="fadeInUp" data-delay="1.35" style="visibility: visible; animation-delay: 1.35s;"> 
                        <ul class="slides">
                            <li class="banner-wrap ov-v" style="width: 100%; float: left; height: 100%; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;background-image: url(https://univietravel.com/uploads/tours/tournoidia/phuquoc/190704102824-05-phu-quoc-vietnam.jpg); background-size: cover; background-repeat: no-repeat;" data-thumb-alt="">
                               
                                    
                                        <div class="container" style="padding-top:70px; padding-bottom: 70px;">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-lg-6">
                                                    <div class="banner-caption wide-auto text-center">
                                                        <div class="cpn-head">
                                                            <h1 class="title title-xl-2 title-semibold">UBG Token NFT for Travel</h1>
                                                        </div>
                                                        <div class="cpn-text cpn-text-s1">
                                                            <p class="lead">Global decentralize network to buy &amp; sell shares</p>
                                                        </div>
                                                        <div class="cpn-btns">
                                                            <ul class="btn-grp">
                                                                <li><a href="#" class="btn btn-md btn-grad btn-round">Sign up to join</a></li>
                                                                <li><a href="#" class="btn btn-md btn-grad btn-round">Token Distribution</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="cpn-social">
                                                            <ul class="social">
                                                                <li><a href="#"><em class="social-icon fab fa-facebook-f"></em></a></li>
                                                                <li><a href="#"><em class="social-icon fab fa-twitter"></em></a></li>
                                                                <li><a href="#"><em class="social-icon fab fa-youtube"></em></a></li>
                                                                <li><a href="#"><em class="social-icon fab fa-github"></em></a></li>
                                                                <li><a href="#"><em class="social-icon fab fa-bitcoin"></em></a></li>
                                                                <li><a href="#"><em class="social-icon fab fa-medium-m"></em></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div><!-- .col -->
                                            </div><!-- .row -->
                                        </div>
                                    

                            </li>

                            
                            <li class="banner-wrap ov-v" style="width: 100%; float: left; height: 100%; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;background-image: url(https://i.pinimg.com/originals/10/44/e1/1044e1eb79ac9f37985cc7b46ca9423f.jpg); background-size: cover; background-repeat: no-repeat;" data-thumb-alt="">
                               
                                    
                                        <div class="container" style="padding-top:70px; padding-bottom: 70px;">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-lg-6">
                                                    <div class="banner-caption wide-auto text-center">
                                                        <div class="cpn-head">
                                                            <h1 class="title title-xl-2 title-semibold">UBG Token NFT for Travel</h1>
                                                        </div>
                                                        <div class="cpn-text cpn-text-s1">
                                                            <p class="lead">Global decentralize network to buy &amp; sell shares</p>
                                                        </div>
                                                        <div class="cpn-btns">
                                                            <ul class="btn-grp">
                                                                <li><a href="#" class="btn btn-md btn-grad btn-round">Sign up to join</a></li>
                                                                <li><a href="#" class="btn btn-md btn-grad btn-round">Token Distribution</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="cpn-social">
                                                            <ul class="social">
                                                                <li><a href="#"><em class="social-icon fab fa-facebook-f"></em></a></li>
                                                                <li><a href="#"><em class="social-icon fab fa-twitter"></em></a></li>
                                                                <li><a href="#"><em class="social-icon fab fa-youtube"></em></a></li>
                                                                <li><a href="#"><em class="social-icon fab fa-github"></em></a></li>
                                                                <li><a href="#"><em class="social-icon fab fa-bitcoin"></em></a></li>
                                                                <li><a href="#"><em class="social-icon fab fa-medium-m"></em></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div><!-- .col -->
                                            </div><!-- .row -->
                                        </div>
                                    

                            </li>

                            

                        </ul>
                </div>
            </div>
            
        </div>
    </div><!-- .nk-banner -->
    <div class="nk-ovm mask-c-light mask-contain-bottom"></div>
</div>

